{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h2>Our Projects</h2>
{% endblock %}


{% block sub-title %}
    <li class="active">Our Projects</li>
{% endblock %}

{% block content %}

      <!-- Component Isotope Project -->
      <section>
        <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-isotope-project-3-column">
                     
                      <div class="projectFilter project-terms project-terms-list-page">
 
                            <a href="#" data-filter="*" class="current">All</a>
                            {% for category in project_categories %}
                              <a href="#" data-filter=".{{category.category|title}}">{{category.category|title}}</a>
                            {% endfor %}
                            <!-- <a href="#" data-filter=".Investments">Investments</a>
                            <a href="#" data-filter=".Taxes">Taxes</a>
                            <a href="#" data-filter=".Insurance">Insurance</a>
                            <a href="#" data-filter=".Retirement">Retirement</a> -->
                      </div> <!-- End Project Fillter -->

                    <div class="row">
                      <div class="clearfix projectContainer projectContainer3column">
                          
                          {% for project in project_data %}
                            <div class="element-item {{ project.category|title }}">
                              <a class="img-contain-isotope" href="{% url 'project-detail' project.id %}">
                              <img src="{{ project.main_image.url }}" class="img-responsive" alt="Image">
                              </a>
                              <a href="{% url 'project-detail' project.id %}"><h5 class="title-project">{{ project.title|title }}</h5></a>
                              <a href="{% url 'project-detail' project.id %}" class="cateProject">{{ project.category|title }}</a>
                            </div>  
                          {% endfor %}
                          
                      </div>  <!-- End project Container -->
                    </div>

                  </div> <!-- End  -->
                </div><!-- End Col -->
              </div><!-- End Row -->

        </div> <!-- End Container -->
      </section><!-- End Section -->


{% endblock %}