{% extends 'base.html' %}
{% load static %}

{% block title %}
<!-- <section class="bg-grey padding-top-45 padding-bottom-45 clearfix">
  <div class="container">
      <div class="row">
        <div class="section-title">
          <div class="col-md-12">
            <h2>Company News</h2>
          </div>
        </div>
      </div>
  </div>
</section> -->
        <h2 style="color: rgb(4, 167, 207);">{{project.title|title}}</h2>
        <div class="customNavigation arrowProjectPage pull-right">
            <a class="btn prev-testimonials-1-columns"><i class="fa fa-chevron-left"></i></a>
            <a class="btn next-testimonials-1-columns"><i class="fa fa-chevron-right"></i></a>
        </div>
{% endblock %}


{% block sub-title %}
        <li class=""><a href="#"> Projects</a></li>
        <li class="active">{{project.category|title}}</li>
{% endblock %}

{% block content %}

    
    <!-- List services section -->
    <section class="padding-top-50 padding-bottom-20">
        <div class="container">
          <div class="row">
                <div class="projectDetail">
                    <div class="col-md-6">
                        <h5>Project Details</h5>
                        {% if project.client %}
                          <p>Client: {{ project.client }}</p>
                        {% endif %}
                        <!-- <p>Location: Central Street, San Francisco</p> -->
                        {% if project.year_completed %}
                        <p>Year Completed: {{ project.year_completed }}</p>
                        {% endif %}

                        {% if project.value %}
                        <p>Value: ${{ project.value }}</p>
                        {% endif %}

                        {% if project.adviser %}
                        <p>Adviser: {{ project.adviser }}</p>
                        {% endif %}
                        

                        
                        <br>
                        <h5>Project Description</h5>
                        <p>{{ project.description }}</p>
                        <!-- <p>Curabitur dictum viverra urna. Nam ullamcorper egestas lacinia. Fusce fermentum velit non velit malesuada, vel aliquam leo viverra. Etiam id justo mattis, bibendum eros non, finibus diam. Suspendisse suscipit, arcu ac rutrum pellentesque, nunc sapien molestie nisi, id pellentesque odio diam quis justo. Proin rutrum convallis mauris. Morbi vulputate bibendum velit id tincidunt. Fusce auctor aliquam nunc in tristique. Nulla luctus dictum enim ut pulvinar.</p> -->
                        <br>
                        <!-- <p>
                          Sed id fermentum lectus, vel sollicitudin ipsum. Nulla porttitor, dolor ut sagittis lacinia, nulla mauris elementum leo, at viverra massa sapien id diam. Phasellus et ornare sem. Integer dictum imperdiet luctus. Sed luctus vel nisl eu convallis. Integer gravida enim velit, ultricies sodales erat imperdiet ac.
                        </p> -->
                    </div> <!-- End col -->
                    <div class="col-md-6">
                      <div class="zoom-gallery">
                        <a class="img-gallery-contain"  href="{{ project.main_image.url }}" data-source="{{ project.client }}" title="{{ project.client }}"><img src="{{ project.main_image.url }}" class="img-responsive" alt="Image"></a>
                        
                        {% if project.image1 %}
                          <a class="img-gallery-contain"  href="{{ project.image1.url }}" data-source="{{ project.client }}" title="{{ project.client }}"><img src="{{ project.image1.url }}" class="img-responsive" alt="Image"></a>
                        {% endif %}

                        {% if project.image2 %}
                          <a class="img-gallery-contain" href="{{ project.image2.url }}" data-source="{{ project.client }}" title="{{ project.client }}"><img src="{{ project.image2.url }}" class="img-responsive" alt="Image"></a>
                        {% endif %}
                        </div>
                    </div> 
                </div><!-- End project detail -->
            </div><!-- End Row -->
        </div><!-- End container -->
      </section><!--  End Section -->



{% endblock %}

