{% extends 'base.html' %}

{% load static %}

{% block title %}
    <h2>About us</h2>
{% endblock %}


{% block sub-title %}
    <li class="active">About us</li>
{% endblock %}

{% block content %}

          <!-- Component Counter Up-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="video-intro-container">
                        <div class="background-video">
                              <img src="{% static 'images/About/bg-youtube.jpg' %}" class="images-responsive" alt="Image">
                              <button data-href="https://www.youtube.com/embed/vOAB6XOkY2E" id="btn-event" class="btn btn-play" ></button >
                        </div>


                        <div id="video-container" class="embed-responsive embed-responsive-16by9 iframe-video-container">
                            <iframe id="video" class="embed-responsive-item" src="https://www.youtube.com/embed/vOAB6XOkY2E" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <h2>{{ about.title|title }}</h2>
                  <div class="clearfix"></div>
                    <p>{{ about.description }}</p>
                  <div class="counter-up counter-up-style-1 counter-up-style-3">
                        <ul>
                          <li>
                            <p><span class="couterup" id="yoe"></span></p>
                            <span class="label-counter">Years of experience</span>
                          </li>
                          <li>
                            <p><span class="couterup" id="hc"></span><span class="unit">K</span></p>
                            <span class="label-counter">Happy Customers</span>
                          </li>
                          <li>
                            <p><span class="couterup" id="satis"></span><span class="unit">%</span></p>
                            <span class="label-counter">Satisfaction</span>
                          </li>
                        </ul>
                  </div><!-- End counter up -->
              </div><!-- End col -->
            </div><!-- End row -->
        </div><!-- End container-->
    </section><!-- End section-->

  <div class="container">
        <div class="line"></div>
      </div>
    <!-- Component Our Experts Owl -->
    <section>
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <h2 class="title">Our Experts</h2>
                      <div class="customNavigation">
                        <a class="btn prev-experts"><i class="fa fa-angle-left"></i></a>
                        <a class="btn next-experts"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                      </div><!-- End owl custom button -->  

                      <div id="owl-experts" class="owl-carousel owl-theme owl-experts clearfix">

                    
                        {% for expert in experts %}

                        <div class="item item-experts text-center">
                          <div class="expert-img-container">
                              <a href="https://www.linkedin.com/" class="in-experts">
                                  <i class="fa fa-linkedin"></i>
                              </a>
                              <div class="avatar">
                                <img src="{{ expert.image.url }}" class="img-responsive" alt="Image">
                              </div>
                          </div> <!-- end expert img container -->
                          <div class="clearfix"></div>
                          <h4 class="">{{ expert.name }}</h4>
                          <p class="job-experts">{{ expert.position }}</p>
                        </div><!-- end item -->

                        {% endfor %}
                      </div> <!-- End owl container -->
                  </div> <!-- End col -->
              </div><!-- End row -->
          </div>
    </section><!-- End container -->
    
    
{% endblock %}