{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>
    <title>Capital Insider</title>
</head>
<body>
    <div class="auth__wrapper login">
        <div class="auth__container">
            <div class="auth__header">
                <img src="{% static 'images/Logo/logo.png' %}" alt="logo">
            </div>
            <div class="auth__content">
                <div class="auth__title">Password reset send</div>
                <div class="auth__form" method='post'>

                    <div class="auth__control">
                        <p class="format__text">
                            We've emailed you instructions for setting your password, if an account exists with the email the you entered.
                        You should recieve them shortly. If you don't recieve an email, please make sure you've entered the address you registered with, and check your spam folder.
                        </p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>