{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>
    <title>Capital Insider</title>
</head>
<body>
    <div class="auth__wrapper login">
        <div class="auth__container">
            <div class="auth__header">
                <img src="{% static 'images/Logo/logo.png' %}" alt="logo">
            </div>
            <div class="auth__content">
                {% if validlink %}
                    <div class="auth__title">Enter New Password</div>
                    <form class="auth__form" method='post'>
                        {% csrf_token %}

                        {% if messages %}
                            <div class="auth__message">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}    
                            </div>  
                        {% endif %}
                        <div class="auth__control">
                            <label for="password1">New Password</label>
                            {{ form.new_password2 }}
                            <!-- <input type="password" name="new_password1" placeholder="password" required> -->
                        </div>
                        <div class="auth__control">
                            <label for="password2">Comfirm New Password</label>
                            {{ form.new_password2 }}
                            <!-- <input type="password" name="new_password2" placeholder="comfirm password" required> -->
                        </div>
                        <div class="auth__control forgot">
                            <button type="submit">Change password</button> 
                        </div>
                    </form>
                {% else %}

                    <p style="font-size: 1.5rem; padding: 2rem;">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                    
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>