{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}"/>
    <title>Document</title>
</head>
<body>
    <div class="auth__wrapper">
        <div class="auth__container">
            <div class="auth__header">
                <img src="{% static 'images/Logo/logo.png' %}" alt="logo">
            </div>
            <div class="auth__content">
                <div class="auth__title">Sign Up</div>
                <form class="auth__form">
                    {% csrf_token %}
                    <div class="auth__control">
                        <label for="name">Username</label>
                        {{form.username}}
                        <!-- <input type="text" name="name" placeholder="username" required> -->
                    </div>
                    <div class="auth__control">
                        <label for="email">Email</label>
                        {{ form.email }}
                        <!-- <input type="email" name="email" placeholder="email" required> -->
                    </div>
                    <div class="auth__control">
                        <label for="password1">Password</label>
                        {{form.password1}}
                        <!-- <input type="password" name="password1" placeholder="password" required> -->
                    </div>
                    <div class="auth__control">
                        <label for="password2">Comfirm Password</label>
                        {{form.password2}}
                        <!-- <input type="password" name="password2" placeholder="comfirm password" required> -->
                    </div>
                    <div class="auth__control">
                        <button>SIGN UP</button>
                    </div>
                    <hr>
                    <p class="have__account">
                        Already have an account?
                    </p>
                    <div class="auth__control">
                        <a class="sign" href="{% url 'login' %}">SIGN IN</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>