{% load static %}

<div id="overlay"></div>
    <!-- Overlay Mobile Menu Click -->
    <div class="mobile-menu-first">
       <div id="mobile-menu-right" class="mobile-menu-dark">
          <div class="mCustomScrollbar light" data-mcs-theme="minimal-dark">
               <div class="header-mobile-menu hmm-v1">
                  <!-- <a class="has-icon" href="tel:01128262789"><span class="lnr lnr-phone-handset icon-set-1 icon-xs"></span> <span class="sub-text-icon text-middle">0112-826-2789</span></a> -->
                <!-- <a href="#" class="ot-btn btn-rounded btn-hightlight-color">Get A Quote</a> -->
              </div> <!-- End header mobile menu -->
              <ul>
                  <li>
                          <a href="{% url 'home' %}"><i class="icon-home"></i> Home</a>
                         
                  </li>                
                 
                  <li><a href="{% url 'services' %}">Services</a>
                      
                  </li>
                  {% if ifProject %}
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                  {% endif %}
                  
                  <li><a href="{% url 'news' %}">News</a>
                       
                  </li>
                  <li><a href="{% url 'about' %}">About Us </a></li>
                  <li><a href="{% url 'contact' %}">Contact Us </a></li>
                  <li id="login-btn"><a href="" class="btn btn-login">Login</a></li>
              </ul>
              <div class="footer-mobile-menu fmm-v1">
                  <ul class="social">
                    {% for social in social_icons %}
                      <li class="{{social.name}}"><a href="{{social.link}}" target="blank"><i class="fa fa-{{social.name}}"></i></a></li>
                    {% endfor %}
                  </ul>
                  <ul class="address-footer-mobile">
                    
                    <li><a><span class="lnr lnr-map-marker"></span> {{ contact_info.location }}</a></li>
                    <li><a><span class="lnr lnr-smartphone"></span> {{ contact_info.administration_phone_num }} </a></li>
                    <li><a><span class="lnr lnr-envelope"></span> {{ contact_info.email }}</a></li>
                    
                  </ul>
              </div><!-- End footer mobile menu -->
          </div>
        </div> <!-- /#rmm   -->
    </div><!-- End Mobile Menu -->