{% load static %}

<div class="mobile-menu-first">
    <div id="mobile-menu" class="mobile-menu-light">
      <div class="mCustomScrollbar light" data-mcs-theme="minimal-dark">
          <ul>
              <li>
                  <a href="index.html"><i class="icon-home"></i> Home</a>   
              </li>                
             
              <li>
                <a href="servicesList.html">Services</a>
              </li>
              <li>
                <a href="projectList.html">Projects</a>
              </li>
              <li>
                <a href="blogList.html">News</a>
              </li>
              
              <li><a href="about.html">About Us </a></li>
              <li>
                <a href="contact.html">Contact Us </a>
              </li>
          </ul>
          <div class="footer-mobile-menu fmm-v1">
              <ul class="social">
                  <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                  <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>

              <ul class="address-footer-mobile">
                
                <li><a href=""><span class="lnr lnr-map-marker"></span> 8th floor, 379 Hudson St, New York, NY 10018</a></li>
                <li><a href="tel:18001236879 "><span class="lnr lnr-smartphone"></span> 1-800-123-6879 </a></li>
                <li><a href="mailto:contact@finance.com"><span class="lnr lnr-envelope"></span> contact@finance.com</a></li>
                
              </ul>
          </div>
      </div> <!-- /#rmm   -->
    </div>
</div><!-- End Mobile Menu -->