<div id="switcher">
    <span class="custom-close"></span>
    <span class="custom-show"></span>

    <a href="#" class="ot-btn btn-rounded btn-hightlight-color block-btn">Buy Now</a>

    <div class="clearfix spacing-10"></div>

    <span class="sw-title">Main Colors:</span>
    <ul id="tm-color">
        <li class="color11"></li>
        <li class="color2"></li>
        <li class="color3"></li>
        <li class="color5"></li>
        <li class="color8"></li>
        <li class="color9"></li>
    </ul>
</div>