{% extends 'base.html' %}
{% load static %}

{% block title %}
<!-- bg-grey padding-top-45 padding-bottom-45 clearfix -->
    <section class="" style="background-image: url(../../static/images/new.png);background-repeat: no-repeat; background-size:cover; height: 80vh;">
      <div class="container" style="display:flex; justify-content:center; align-items:center; height: inherit; ">
        <div>
          <h2 style="color: rgb(4, 167, 207); text-align: center;">CAPITAL INSIDER SERVICES OFFERS</h2>
        </div>
      </div><!-- End container -->
    </section><!--  End Section -->
{% endblock %}


{% block sub-title %}
    <li class="active">Our services</li>
{% endblock %}

{% block content %}

    <!-- Component Thumbnail Left Icon SVG -->
    <div class="padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row clearfix">
              <div class="services-wrap">
                <div class="services-list-2">
                  
                  {% for service in services_data %}
                  <article class="col-sm-6 col-md-4 thumbnail-style thumbnail-icon-item text-left">
                   
                    <div class="thumbnail icon-left">
                        <img class="img-icon-thumbnail" src="{{ service.service_image.url }}" alt="">
                      <div class="caption">
                        <h4 style="color: rgb(4, 167, 207);">{{ service.title|title }}</h4>
                        <p>
                          {{ service.description|slice:":100" }} ...
                        </p>
                        <a class="learn-more" href="{% url 'service-detail' service.id %}"><i class="fa fa-caret-right" aria-hidden="true"></i>  Learn More
                             
                           </a>
                      </div>
                    </div>
                  
                 </article><!-- End article -->
                 {% endfor %}
                  
              </div>
              </div>
            </div><!-- End Row -->
        </div><!-- End container -->
    </div> <!-- End section -->

   


{% endblock %}

