{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h2>Our services</h2>
{% endblock %}


{% block sub-title %}
    <li class="active">Our services</li>
{% endblock %}

{% block content %}

    <!-- Component Thumbnail Left Icon SVG -->
    <div class="padding-top-70 padding-bottom-70">
        <div class="container">
            <div class="row clearfix">
              <div class="services-wrap">
                <div class="services-list-2">
                    {% for service in services_data %}
                        <article class="col-sm-6 col-md-4 thumbnail-style thumbnail-icon-item text-left">
                          
                          <div class="thumbnail icon-left">
                            <img src="{{ service.image.url }}" alt="">
                            <div class="caption">
                              <h4>{{ service.title|title }}</h4>
                              <p>
                                {{ service.description }}...
                              </p>
                              <a class="learn-more" href="{% url 'service-detail' service.id %}"><i class="fa fa-caret-right" aria-hidden="true"></i>  Learn More
                                
                              </a>
                            </div>
                          </div>
                        
                        </article><!-- End article -->
                    {% endfor %}
                </div>
  
              </div>
            </div><!-- End Row -->
        </div><!-- End container -->
    </div> <!-- End section -->


{% endblock %}

