{% extends 'base.html' %}
{% load static %}

{% block title %}
<section class="bg-grey padding-top-45 padding-bottom-45 clearfix">
  <div class="container">
      <div class="row">
        <div class="section-title">
          <div class="col-md-12">
            <h2>Our services</h2>
          </div>
        </div>
      </div><!-- End Row -->
  </div><!-- End container -->
</section><!--  End Section -->
    
{% endblock %}


{% block sub-title %}
    <li class="active">Our services</li>
{% endblock %}

{% block content %}

    
    <!--Services Detail -->
    <section class="padding-top-50">
        <div class="container">
          <div class="row">
              <div class="col-md-3 slidebar">
                  <div class="list-group">
                    {% for title in service_titles %}
                      {% if title.id == service.id %}
                        <a href="{% url 'service-detail' title.id %}" class="list-group-item active">{{ title.title|title }}</a>
                      {% else %}
                        <a href="{% url 'service-detail' title.id %}" class="list-group-item">{{ title.title|title }}</a>
                      {% endif %}
                    {% endfor %}
                   
                  </div>
              </div>  <!-- End col slidebar -->
              <div class="col-md-9 services-detail-content">
               {% if service.image %}
                <img src="{{ service.image.url }}" class="img-responsive img-header-detail" alt="Image">
               {% endif %}
               
                  <div class="h-block">
                      <h3 style="color: rgb(4, 167, 207);">{{  service.title|title }}</h3>
                      <div class="row">
                        <div class="col-sm-6 col-md-8 left-hblock">
                          <p>{{ service.description }}</p>
                        </div>
                        {% if bronchures%}
                          <div class="col-sm-6 col-md-4 right-hblock">
                              <div class="brochures-download">
                                <p>DOWNLOAD BROCHURES</p>
                                {% if bronchures.PDFfile %}
                                  <button type="button" class="btn btn-download"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a href="{{ bronchures.PDFfile.url }}" download>DownloadFile.pdf</a></button>
                                {% endif %}

                                {% if bronchures.PDFfile %}
                                  <button type="button" class="btn btn-download"><i class="fa fa-file-word-o" aria-hidden="true"></i> <a href="{{ bronchures.DOCfile.url }}" download>DownloadFile.doc</a></button>
                                {% endif %}

                              </div>
                          </div>
                        {% endif %}
                      </div><!-- End row -->
                  </div><!-- End H-block -->
                  
                 
                        <div class="row">
                          {% if service.cash_flow_statement or service.balance_sheet_statement or service.income_statement %}
                            <div class="col-md-6 v-block">
                              {% if service.cash_flow_statement %}
                                  <h3 style="color: rgb(4, 167, 207);">Cash Flow Statement</h3>
                                  <div class="v-block-detail">
                                    <p>{{ service.cash_flow_statement }}</p>
                                  </div>
                              
                                    
                                 <div class="chart-google"> <!-- Start Chart Google API -->
                                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                    <div id="piechart_3d" style="width: 900px; height: 400px;"></div>
                                    <script type="text/javascript">
                                      google.charts.load("current", {packages:["corechart"]});
                                      google.charts.setOnLoadCallback(drawChart);
                                      function drawChart() {
                                        var data = google.visualization.arrayToDataTable([
                                          ['Share of Loans Made to Small Businesses ', '2014'],
                                          ['Giant Banks',     23],
                                          ['Credit Unions',      7],
                                          ['Small Banks',  33],
                                          ['Medium Banks', 20],
                                          ['Large Banks',    17]
                                        ]);
                                      
                                        var options = {
                                          title: 'Share of Loans Made to Small Businesses',
                                          is3D: true,
                                        };
                                      
                                        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                                        chart.draw(data, options);
                                      }
                                    
                                    </script>
                                </div> <!-- End chart google API --> 


                              {% endif %}
                            </div><!-- End Vblog -->
                            <div class="col-md-6 v-block">
                              {% if service.balance_sheet_statement %}
                                  <h3 style="color: rgb(4, 167, 207);">Balance Sheet</h3>
                                  <div class="v-block-detail">
                                    <p>{{ service.balance_sheet_statement }}</p>
                                  </div>
                              {% endif %}
                            </div>  <!--  End col -->
                            <div class="col-md-6 v-block">
                              {% if service.income_statement %}
                                  <h3 style="color: rgb(4, 167, 207);">Income Statement</h3>
                                    <div class="v-block-detail">
                                      <p>{{ service.income_statement }}</p>
                                    </div>
                                {% endif %}
                            </div> <!-- End col -->
                          {% endif %}
                        {% if service.brainstorming or service.plannification or service.hard_work or service.success %}
                            <div class="tab-finance clearfix">
                              <ul class="nav nav-tabs">
                                {% if service.brainstorming %}
                                  <li class="active"><a data-toggle="tab" href="#Brainstorming">Brainstorming</a></li>
                                {% endif %}

                                {% if service.plannification %}
                                  <li><a data-toggle="tab" href="#Planification">Planification</a></li>
                                {% endif %}

                                {% if service.hard_work %}
                                  <li><a data-toggle="tab" href="#WorkHard">Work Hard</a></li>
                                {% endif %}
                                {% if service.success %}
                                <li><a data-toggle="tab" href="#Success">Success</a></li>
                                {% endif %}
                              </ul>

                                <div class="tab-content">
                                  <div id="Brainstorming" class="tab-pane fade in active">
                                    <p>{{ service.brainstorming }}</p>
                                  </div>
                                  <div id="Planification" class="tab-pane fade">
                                    <p>{{ service.plannification }}</p>
                                  </div>
                                  <div id="WorkHard" class="tab-pane fade">
                                    <p>{{ service.hard_work }}</p>
                                  </div>
                                  <div id="Success" class="tab-pane fade">
                                    <p>{{ service.success }}</p>
                                  </div>
                                </div>
                            </div><!-- End tab -->
                        {% endif %}
                          <!-- End col -->      

                        </div><!-- End v-block -->
                 
              </div>
  
          </div><!-- End Row -->
  
        </div><!-- End container -->
      </section><!--  End Section --> 


{% endblock %}

