{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h2>Our services</h2>
{% endblock %}


{% block sub-title %}
    <li class="active">Our services</li>
{% endblock %}

{% block content %}

    
    <!--Services Detail -->
    <section class="padding-top-50">
        <div class="container">
          <div class="row">
              <div class="col-md-3 slidebar">
                  <div class="list-group">
                    {% for title in service_titles %}
                      {% if title.id == service.id %}
                        <a href="{% url 'service-detail' title.id %}" class="list-group-item active">{{ title.title|title }}</a>
                      {% else %}
                        <a href="{% url 'service-detail' title.id %}" class="list-group-item">{{ title.title|title }}</a>
                      {% endif %}
                    {% endfor %}
                    <!-- <a href="services-detail.html" class="list-group-item active">
                     Finacial Planning
                    </a>
                    <a href="services-detail2.html" class="list-group-item">Investments Management</a>
                    <a href="services-detail3.html" class="list-group-item">Taxes Planning</a>
                    <a href="services-detail4.html" class="list-group-item">Business Loan</a>
                    <a href="services-detail5.html" class="list-group-item">Insurance Consulting</a>
                    <a href="services-detail6.html" class="list-group-item">Retirement Managerment</a> -->
                  </div>
              </div>  <!-- End col slidebar -->
              <div class="col-md-9 services-detail-content">
                <img src="{{ service.image.url }}" class="img-responsive img-header-detail" alt="Image">
               
                  <div class="h-block">
                      <h3>{{  service.title|title }}</h3>
                      <div class="row">
                        <div class="col-sm-6 col-md-8 left-hblock">
                          <p>{{ service.description }}</p>
                        </div>
                        <div class="col-sm-6 col-md-4 right-hblock">
                            <div class="brochures-download">
                              <p>DOWNLOAD BROCHURES</p>
                              <button type="button" class="btn btn-download"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> DownloadFile.pdf</button>
                              <button type="button" class="btn btn-download"><i class="fa fa-file-word-o" aria-hidden="true"></i> DownloadFile.pdf</button>
                            </div>
                        </div>
                      </div><!-- End row -->
                  </div><!-- End H-block -->
                  <div class="row">
                    <div class="col-md-6 v-block">
                      {% if service.cash_flow_statement %}
                          <h3>Cash Flow Statement</h3>
                          <div class="v-block-detail">
                            <p>{{ service.cash_flow_statement }}</p>
                          </div>
                      
                            <div class="chart-2 chart-2-v">
                               
                                <div style="" class="chart-v-item">
                                    
                                    <span class="percent-v update-v"></span>
                                    <div class="progress  vertical bottom progress-v">
                                        <div class="progress-bar bar-chart" role="progressbar" data-transitiongoal="90"></div>
                                    </div>
                                    <span class="label-v">OPPORTUNITY</span>
                                </div>
                                <div style="" class="chart-v-item">
                                    
                                    <span class="percent-v update-v"></span>
                                    <div class="progress  vertical bottom progress-v">
                                        <div class="progress-bar bar-chart" role="progressbar" data-transitiongoal="85"></div>
                                    </div>
                                    <span class="label-v">SAVE TIME</span>
                                </div>
                                <div style="" class="chart-v-item">
                                    
                                    <span class="percent-v update-v"></span>
                                    <div class="progress  vertical bottom progress-v">
                                        <div class="progress-bar bar-chart" role="progressbar" data-transitiongoal="100"></div>
                                    </div>
                                    <span class="label-v">INCOME</span>
                                </div>
                            </div> <!-- End chart -->
                      {% endif %}
                    </div><!-- End Vblog -->
                    <div class="col-md-6 v-block">
                      {% if service.balance_sheet_statement %}
                          <h3>Balance Sheet</h3>
                          <div class="v-block-detail">
                            <p>{{ service.balance_sheet_statement }}</p>
                          </div>
                      {% endif %}
                    </div>  <!--  End col -->
                    <div class="col-md-6 v-block">
                      {% if service.income_statement %}
                           <h3>Income Statement</h3>
                            <div class="v-block-detail">
                              <p>{{ service.income_statement }}</p>
                            </div>
                        {% endif %}
                    </div> <!-- End col -->
                    
                      <div class="tab-finance clearfix">
                        <ul class="nav nav-tabs">
                          {% if service.brainstorming %}
                            <li class="active"><a data-toggle="tab" href="#Brainstorming">Brainstorming</a></li>
                          {% endif %}

                          {% if service.plannification %}
                            <li><a data-toggle="tab" href="#Planification">Planification</a></li>
                          {% endif %}

                          {% if service.hard_work %}
                            <li><a data-toggle="tab" href="#WorkHard">Work Hard</a></li>
                          {% endif %}
                          {% if service.success %}
                          <li><a data-toggle="tab" href="#Success">Success</a></li>
                          {% endif %}
                        </ul>
  
                          <div class="tab-content">
                            <div id="Brainstorming" class="tab-pane fade in active">
                              <p>{{ service.brainstorming }}</p>
                            </div>
                            <div id="Planification" class="tab-pane fade">
                              <p>{{ service.plannification }}</p>
                            </div>
                            <div id="WorkHard" class="tab-pane fade">
                              <p>{{ service.hard_work }}</p>
                            </div>
                            <div id="Success" class="tab-pane fade">
                              <p>{{ service.success }}</p>
                            </div>
                          </div>
                      </div><!-- End tab -->
                    <!-- End col -->      
  
                  </div><!-- End v-block -->
              </div>
  
          </div><!-- End Row -->
  
        </div><!-- End container -->
      </section><!--  End Section --> 



 <!-- Get a quote section -->
 <section class="bg-grey no-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="quote-warp">
              <div class="quote-text">
                <h2> We focus on advice consulting business financials <a href="#" class="ot-btn large-btn btn-rounded btn-hightlight-color">Get A Quote</a></h2>
                
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}

