{% extends 'base.html' %}
{% load static %}

{% block title %}
    Our services
{% endblock %}


{% block sub-title %}
    Our services
{% endblock %}

{% block content %}

    
    <!--Services Detail -->
    <section class="padding-top-50">
        <div class="container">
          <div class="row">
              <div class="col-md-3 slidebar">
                  <div class="list-group">
                    <a href="services-detail.html" class="list-group-item active">
                     Finacial Planning
                    </a>
                    <a href="services-detail2.html" class="list-group-item">Investments Management</a>
                    <a href="services-detail3.html" class="list-group-item">Taxes Planning</a>
                    <a href="services-detail4.html" class="list-group-item">Business Loan</a>
                    <a href="services-detail5.html" class="list-group-item">Insurance Consulting</a>
                    <a href="services-detail6.html" class="list-group-item">Retirement Managerment</a>
                  </div>
              </div>  <!-- End col slidebar -->
              <div class="col-md-9 services-detail-content">
                <img src="images/Services/detail.jpg" class="img-responsive img-header-detail" alt="Image">
               
                  <div class="h-block">
                      <h3>Financial Statements</h3>
                      <div class="row">
                        <div class="col-sm-6 col-md-8 left-hblock">
                              <p>Nulla commodo iaculis ligula, ac dapibus quam ornare ut. Praesent ac hendrerit sem, et tempus sem. Donec sit amet elit a felis tristique eleifend. Aliquam erat volutpat. Cras metus ipsum, tincidunt in bibendum vitae, fringilla ac ipsum. Sed at eros quis mi pulvinar lacinia eget sed ex. Vestibulum eget ipsum porttitor, cursus urna nec, ultrices enim. Sed eget dignissim nulla, non facilisis augue. Fusce nec dictum nunc. Maecenas hendrerit tempus magna eu ultricies. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eros ligula, porta non leo porttitor, laoreet mollis nisl.
                              </p>
                        </div>
                        <div class="col-sm-6 col-md-4 right-hblock">
                            <div class="brochures-download">
                              <p>DOWNLOAD BROCHURES</p>
                              <button type="button" class="btn btn-download"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> DownloadFile.pdf</button>
                              <button type="button" class="btn btn-download"><i class="fa fa-file-word-o" aria-hidden="true"></i> DownloadFile.pdf</button>
                            </div>
                        </div>
                      </div><!-- End row -->
                  </div><!-- End H-block -->
                  <div class="row">
                    <div class="col-md-6 v-block">
                          <h3>Cash Flow Statement</h3>
                          <div class="v-block-detail">
                              <p>Sed vel bibendum urna, in blandit nunc. Praesent eget mauris auctor, efficitur justo sed, consectetur dolor. Cras aliquet mi vitae convallis luctus. Aenean imperdiet mi et eleifend efficitur. </p>
                          </div>
                            <div class="chart-2 chart-2-v">
                               
                                <div style="" class="chart-v-item">
                                    
                                    <span class="percent-v update-v"></span>
                                    <div class="progress  vertical bottom progress-v">
                                        <div class="progress-bar bar-chart" role="progressbar" data-transitiongoal="90"></div>
                                    </div>
                                    <span class="label-v">OPPORTUNITY</span>
                                </div>
                                <div style="" class="chart-v-item">
                                    
                                    <span class="percent-v update-v"></span>
                                    <div class="progress  vertical bottom progress-v">
                                        <div class="progress-bar bar-chart" role="progressbar" data-transitiongoal="85"></div>
                                    </div>
                                    <span class="label-v">SAVE TIME</span>
                                </div>
                                <div style="" class="chart-v-item">
                                    
                                    <span class="percent-v update-v"></span>
                                    <div class="progress  vertical bottom progress-v">
                                        <div class="progress-bar bar-chart" role="progressbar" data-transitiongoal="100"></div>
                                    </div>
                                    <span class="label-v">INCOME</span>
                                </div>
                            </div> <!-- End chart -->
  
                    </div><!-- End Vblog -->
                    <div class="col-md-6 v-block">
                          <h3>Balance Sheet</h3>
                          <div class="v-block-detail">
                              <p>Duis nunc tortor, condimentum porta leo id, tempus mollis nulla. Suspendisse blandit congue rutrum. Proin nec porttitor arcu. Etiam a dictum odio. Vivamus massa purus, dignissim vitae volutpat ac, fringilla in orci. Nulla faecenas blandit bibendum laoreet. Nam justo arcu, tempor eu dolor nec, suscipit laoreet odio. Donec mattis est eget sem euismod, in cursus massa ullamcorper.</p>
                          </div>
                    </div>  <!--  End col -->
                    <div class="col-md-6 v-block">
                           <h3>Income Statement</h3>
                            <div class="v-block-detail">
                              <p>Morbi eros augue, euismod non posuere vel, accumsan at nulla. Mauris sit amet tempus orci. Sed vel bibendum urna, in blandit nunc. Praesent eget mauris auctor, efficitur justo sed, consectetur dolor. Cras aliquet mi vitae convallis luctus. Aenean imperdiet mi et eleifend efficitur. </p>
                            </div>
                    </div> <!-- End col -->
                    
                      <div class="tab-finance clearfix">
                        <ul class="nav nav-tabs">
                          <li class="active"><a data-toggle="tab" href="#Brainstorming">Brainstorming</a></li>
                          <li><a data-toggle="tab" href="#Planification">Planification</a></li>
                          <li><a data-toggle="tab" href="#WorkHard">Work Hard</a></li>
                           <li><a data-toggle="tab" href="#Success">Success</a></li>
                        </ul>
  
                          <div class="tab-content">
                            <div id="Brainstorming" class="tab-pane fade in active">
                              <p>Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque.  </p>
                            </div>
                            <div id="Planification" class="tab-pane fade">
                              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div id="WorkHard" class="tab-pane fade">
                              <p>Fusce ornare mi vel risus porttitor dignissim. Nunc eget risus at ipsum blandit ornare vel sed velit. Proin gravida arcu nisl, a dignissim mauris placerat id. Vivamus interdum urna at sapien varius elementum. Suspendisse ut mi felis et interdum libero lacinia vel. Aenean elementum odio ut lorem cursus, eu auctor magna pellentesque.  </p>
                            </div>
                            <div id="Success" class="tab-pane fade">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                          </div>
                      </div><!-- End tab -->
                    <!-- End col -->      
  
                  </div><!-- End v-block -->
              </div>
  
          </div><!-- End Row -->
  
        </div><!-- End container -->
      </section><!--  End Section --> 



 <!-- Get a quote section -->
 <section class="bg-grey no-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="quote-warp">
              <div class="quote-text">
                <h2> We focus on advice consulting business financials <a href="#" class="ot-btn large-btn btn-rounded btn-hightlight-color">Get A Quote</a></h2>
                
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}

