{% extends 'basehome.html' %}
{% load static %}

    {% block carousel%}

        {% include 'home/carousel.html' %}

    {% endblock%}



    {% block content %}
        <!-- Component Blog -->
        <section class="padding-top-50">
            <div class="container">
                <div class="row"> 
                <div class="services-home-1">
                    
                    {% for blog in news|slice:":3" %}
                        <div class="col-md-4">
                            <div class="item-blog">
                                <div class="thumbnail">
                                    <a href="{% url 'news-detail' blog.id %}" class="img-blog-contain"><img src="{{ blog.image.url }}" alt=""></a>
                                    <div class="caption">
                                    <a href="{% url 'news-detail' blog.id %}"><h4>
                                        {% if blog.title|length <= 32 %}
                                            {{ blog.title|title }}
                                        {% else %}
                                            {{ blog.title|title|slice:":32" }} ...
                                        {% endif %}
                                    </h4></a>
                                    <p>{{ blog.news_detail|slice:":200" }} ...</p>
                                    <a class="learn-more" href="{% url 'news-detail' blog.id %}"><i class="fa fa-caret-right" aria-hidden="true"></i>Learn More
                                        
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                </div> <!-- End Row 2 -->
            </div> <!-- End container -->
        </section>  

        <!-- Component Media Left Icon Our Services-->
        <section class="bg-grey">
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <h2 class="title clearfix">Our Services</h2>
                </div> <!-- End col -->
                <div class="services-warp">
                    {% if services.0 %}
                    <article class=" col-sm-6 col-md-4 media-style media-left-icon-item">
                        <div class="media">
                        <div class="media-left">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="">{{ services.0.title|title }}</h4>
                            <p>{{ services.0.description|slice:":100" }} ...  
                                <a class="learn-more" href="{% url 'service-detail' services.0.id %}">Read More</a>
                            </p>
                            
                        </div>
                        </div>
                    </article><!-- End article -->
                    {% endif %}

                    {% if services.1 %}
                    <article class=" col-sm-6 col-md-4 media-style media-left-icon-item">
                        <div class="media">
                        <div class="media-left">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="">{{ services.1.title|title }}</h4>
                            <p>{{ services.1.description|slice:":100" }} ...
                                <a class="learn-more" href="{% url 'service-detail' services.1.id %}">Read More</a>
                            </p>
                        </div>
                        </div>
                    </article><!-- End article -->
                    {% endif %}
                    {% if services.2 %}
                    <article class=" col-sm-6 col-md-4 media-style media-left-icon-item">
                        <div class="media">
                        <div class="media-left">
                            <i class="fa fa-calculator"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="">{{ services.2.title|title }}</h4>
                            <p>{{ services.2.description|slice:":100" }} ...
                                <a class="learn-more" href="{% url 'service-detail' services.2.id %}">Read More</a>
                            </p>
                        </div>
                        </div>
                    </article><!-- End article -->
                    {% endif %}
                    {% if services.3 %}
                    <article class=" col-sm-6 col-md-4 media-style media-left-icon-item">
                        <div class="media">
                        <div class="media-left">
                            <i class="fa fa-university"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="">{{ services.3.title|title }}</h4>
                            <p>{{ services.3.description|slice:":100" }} ...
                                <a class="learn-more" href="{% url 'service-detail' services.3.id %}">Read More</a>
                            </p>
                        </div>
                        </div>
                    </article><!-- End article -->
                    {% endif %}
                    {% if services.4 %}
                    <article class=" col-sm-6 col-md-4 media-style media-left-icon-item">
                        <div class="media">
                        <div class="media-left">
                            <i class="fa fa-shield"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="">{{ services.4.title|title }}</h4>
                            <p>{{ services.4.description|slice:":100" }} ...
                                <a class="learn-more" href="{% url 'service-detail' services.4.id %}">Read More</a>
                            </p>
                        </div>
                        </div>
                    </article><!-- End article -->
                    {% endif %}
                    
                    {% if services.5 %}
                    <article class=" col-sm-6 col-md-4 media-style media-left-icon-item">
                        <div class="media">
                        <div class="media-left">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="">{{ services.5.title|title }}</h4>
                            <p>{{ services.5.description|slice:":100" }} ...
                                <a class="learn-more" href="{% url 'service-detail' services.5.id %}">Read More</a>
                            </p>
                        </div>
                        </div>
                    </article><!-- End article -->
                    {% endif %}<!-- End article -->
                </div><!-- End Services Warp -->
            </div> <!-- End Row -->
            </div><!-- End container -->
        </section>

        <!-- Component Courter Up -->
        <section>
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                <div class="counter-up counter-up-style-1 text-center">
                    <h2>Our Mission</h2>
                    <p style="font-size: 16px;">
                        As the financial industry evolves , client’s needs become more complex, 
                        capital insiders has and continue to reinvent, innovate and transform itself to be ready 
                        for the business landscape of tomorrow. As capital insiders our goal is enable good financial 
                        turnover, stability & growth to our clients all over the globe thereby achieving a more secured and advanced future for them. Equally,
                         we exist with the aim to help our clients make smart and right investment decision.  We approach each of our clients with fresh eyes to develop customized, unique strategies.
                    </p>
                    <ul>
                    <!-- <li>
                        <p><span class="couterup" id="yoe"></span></p>
                        <span class="label-counter">Years of experience</span>
                    </li> -->
                    <li>
                        <p><span class="couterup" id="hc"></span><span class="unit">K</span></p>
                        <span class="label-counter">Happy Customers</span>
                    </li>
                    <li>
                        <p><span class="couterup" id="satis"></span><span class="unit">%</span></p>
                        <span class="label-counter">Satisfaction</span>
                    </li>
                    </ul>
                </div><!-- End counter up -->
                </div> <!-- End cold -->
            </div><!-- End row -->
            </div><!-- End container -->
        </section><!-- End Section -->


        <!-- Component Owl Project -->
        <section class=" bg-grey padding-top-55 padding-bottom-60">
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">Our Projects</h2>
                    
                    <div class="customNavigation">
                        <a class="btn prev-project"><i class="fa fa-angle-left"></i></a>
                        <a class="btn next-project"><i class="fa fa-angle-right"></i></a>
                    </div><!-- End owl button -->

                    <div id="owl-project" class="owl-carousel owl-theme  owl-project clearfix">

                        {% for project in projects %}
                            <div class="item">
                                    <a href="{{ project.get_absolute_url }}">
                                    <img src="{{ project.main_image.url }}" class="img-responsive" alt="Image">
                                    <h5 class="title-project">{{ project.title|title }}</h5>
                                    </a>
                            </div>
                        {% endfor %}

                    </div> <!--End Owl  -->
                </div><!-- End Col -->
            </div><!-- End Row -->
        </div> <!-- End Container -->
        </section><!-- End Section -->

        <!-- Component Get a Call Back-->
        <section class="bg-dark">
            <div class="container">
                <div class="row">
                <div class="get-call-back-contain">
                    <div class="col-md-6 get-call-back-left">
                    <div class="call-back-text">
                        <h2 class="text-white">Get a Call Back</h2>
                        <div class="clearfix"></div>
                        <p class="text-grey">If you need to speak to us about a general query fill in<br> the form below and we will call you back within the<br> same working day.</p>
                    </div><!-- End call back text left -->
                    </div>
                    <div class="col-md-6 get-call-back-right">
                    <div class="call-back-form">
                        <form method="POST">
                            {% csrf_token %}
                        <p>How can we help? *</p>
                        {{ form.select }}
                        <!-- <select class="form-control custom-form custom-select">
                            <option selected="selected">Discussions with Financial Experts</option>
                            <option>Meet Finance Assistant - PR Agency </option>
                            <option>Discussions with Senior Finance Manager</option>
                            <option>Designer</option>
                            <option>Our CEO Finanace Theme Group</option>
                        </select> -->
                        <div class="row">
                            <div class="form-group col-md-6 custom-form">
                                {{ form.name }}
                            <!-- <input type="text" class="form-control" id="name" placeholder="Your Name: *"> -->
                            </div>
                            <div class="form-group col-md-6 custom-form">
                                {{ form.phone }}
                            <!-- <input type="text" class="form-control" id="phone" placeholder="Phone Number: *"> -->
                            </div>
                        </div>
                        <button type="submit" class="ot-btn large-btn btn-rounded btn-main-color btn-submit">Submit</button>
                        </form>
                    </div><!-- End call back form -->
                    </div>
                </div>
                </div><!-- End row -->
            </div><!-- End container -->
        </section><!-- End Section -->


        <!-- Component Our Experts Owl -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Our Experts</h2>
                        <div class="customNavigation">
                        <a class="btn prev-experts"><i class="fa fa-angle-left"></i></a>
                        <a class="btn next-experts"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div><!-- End owl custom button -->  
                        <div class="padding-bottom-15"></div>
                        <div id="owl-experts" class="owl-carousel owl-theme owl-experts clearfix">
                            {% for expert in experts %}
                                <div class="item item-experts text-center">
                                    <div class="expert-img-container">
                                        <div class="avatar">
                                        <img src="{{ expert.image.url }}" class="img-responsive" alt="Image">
                                        </div>
                                        <!-- <a href="https://www.linkedin.com/" class="in-experts">
                                            <i class="fa fa-linkedin"></i>
                                        </a> -->
                                    </div> <!-- end expert img container -->
                                    

                                    <div class="clearfix"></div>
                                    <h4 class="">{{ expert.name|title}}</h4>
                                    <p class="job-experts">{{ expert.position|title }}</p>
                                </div><!-- end item -->
                        {% endfor %}

                        </div> <!-- End owl container -->
                    </div> <!-- End col -->
                </div><!-- End row -->
            </div>
            </section><!-- End container -->

        <!-- Section Text 3 Column-->
        <section class="bg-grey">
            <div class="container">
            <div class="row">
                        <div class="three-column-text"> 
                        <h2 class="title ">We Makes It Easy</h2>
                        <div class="col-md-4">
                            <div class="make-easy-item">
                            <h4>Whatever</h4>
                            <p>Maecenas et varius mauris, in viverra urna. Praesent eu lacinia lacus. Nam ac velit vitae justo congue dignissim dignissim vitae nulla. Donec quis leo lorem. Morbi bibendum vehicula nibh id sodales. Vivamus in vestibulum magna, ut lobortis neque. </p>
                            </div>
                        </div><!-- end col -->
                        <div class="col-md-4">
                            <div class="make-easy-item">
                            <h4>Wherever</h4>
                            <p>In placerat sapien urna, quis faucibus metus lacinia commodo. Integer feugiat ullamcorper risus, sed efficitur velit dignissim at. Donec tincidunt elit a neque venenatis varius. Phasellus eget tempor est. Vivamus ut cursus ligula. </p>
                            </div>
                        </div><!-- end col -->
                        <div class="col-md-4">
                            <div class="make-easy-item">
                            <h4>Whenever</h4>
                            <p>Cras non odio tempus, euismod eros eget, venenatis ligula. Nullam augue sem, tincidunt sed elit ac, mollis eleifend justo. Aliquam non magna ac risus lacinia lacinia quis eu justo. Praesent a tempus ante. Etiam ac turpis finibus, aliquam augue quis, feugiat est.</p>
                            </div>
                        </div><!-- end col -->
                        </div> <!-- End 3 column text -->
            </div><!-- End row -->
            </div><!-- End Container -->
        </section><!-- End Section -->

        <!-- Component Our Partners Owl -->
        <section>
            <div class="container">
                <div class="row">
                <div class="col-md-12">
                    <h2 class="title">Our Partners</h2>
                    <div class="customNavigation">
                <a class="btn prev-partners"><i class="fa fa-angle-left"></i></a>
                <a class="btn next-partners"><i class="fa fa-angle-right"></i></a>
                </div><!-- End owl button -->

                <div id="owl-partners" class="owl-carousel owl-theme owl-partners clearfix">
                {% for partner in partners %}
                    <div class="item">
                        <a href="{% if partner.link %} {{ partner.link }} {% endif %}">
                            <img src="{{ partner.logo.url }}" class="img-responsive" alt="Image">
                        </a>
                    </div>
                {% endfor %}
            
                </div><!-- End row partners -->
                </div><!-- End Row -->
            </div>
            </section><!-- End container -->

    {% endblock %}